<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src='http://localhost:3000/js'></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <title>Blog Posts</title>
</head>

<body class="posts-background ">

   
    <div id="nav-placeholder"></div>
    <script>getBlogposts3('http://localhost:3000/blogpost')</script>
    <div id="all-posts" class="all-posts"></div>



 


</body>

</html>