<footer class="footer-container">
        <div class="author-conatiner">
            <p>Written by Ruben Perez</p>
            <p>Contact me:</p>
            <a href="https://github.com/rubenperezf/" target="_blank">Github</a>
            <a href="https://twitter.com/rubenscalabrine" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/feed/" target="_blank">Facebook</a>
        </div>
        <div class="newsletter-container">
            <p>Sign up for our newsletter:</p>
            <form>
                <div class="form-row">
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="email" placeholder="joe@example.com"/>
                </div>
                <button onclick="postEmail()">Subscribe</button>
                <div class="inside"></div>
            </form>
        </div>
</footer>