<div class="nav-container">
    <a onclick="location.href='http://localhost:3000/'">Home</a>
    <a onclick="location.href='http://localhost:3000/createUser'" type="button">Sign Up</a>
    <a onclick="location.href='http://localhost:3000/userSignIn'" type="button">Sign In / Write a post</a>
    <a onclick="location.href='http://localhost:3000/aboutMe'" type="button">About me</a>
    <a onclick="location.href='http://localhost:3000/rubenPerezPosts'" type="button">JRS Blog</a>
    <a onclick="location.href='http://localhost:3000/blogposts'" type="button">Everyone Blog</a>

</div>